<!DOCTYPE html>
<html>

<head>
  <meta content='width=device-width, initial-scale=1' name='viewport' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>
    {% block title %}Home Page{% endblock %}
  </title>

  <style type="text/css">
    h1 {
      color: green;
    }

    .xyz {
      background-size: auto;
      text-align: center;
      padding-top: 100px;
    }

    .btn-circle.btn-md {
      background-image: url("../static/images/flag-3d-round-250.png");
      width: 65px;
      height: 45px;
      padding: 7px 10px;
      border-radius: 25px;
      font-size: 10px;
      text-align: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .btn-circle.btn-xl {
      background-image: url("../static/images/flag-3d-round-250.png");
      width: 70px;
      height: 70px;
      padding: 10px 16px;
      border-radius: 35px;
      font-size: 12px;
      text-align: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .bg {
      /* The image used */
      background-image: url('../static/images/map.png');
      /* Full height */
      height: auto;
      width: auto;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      /* opacity: .9; */
    }

    .special-card {

      background-color: rgb(255, 255, 255);
      opacity: .80;
    }

    .container {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fit, 250px 10px);
      grid-template-rows: repeat(auto-fit, 80px);
    }

  </style>
</head>

<body>
  <nav class="navbar navbar-expand navbar-dark bg-success">
    <a class="navbar-brand" href="/">Lebanon News Demo</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
    </div>

    <a href="https://github.com/moussaKam/Lebanese-news-word-embedding">
      <div class="navbar-collapse collapse w-100 order-2 dual-collapse2"
        href="https://github.com/moussaKam/Lebanese-news-word-embedding">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <img src="../static/images/g.png" height="40" width="40"
              href="https://github.com/moussaKam/Lebanese-news-word-embedding">
          </li>

          <li class="nav-item active">
            <a class='nav-link' href="https://github.com/moussaKam/Lebanese-news-word-embedding">Github Repository</a>
          </li>

        </ul>
      </div>
    </a>

  </nav>

  <div class="bg">

    {% block content %}
    <br>
    <div class="card mb-3 mx-auto  special-card" special-card style="max-width: 80%; border-radius: 25px">
      <div class="card-header bg-danger text-white" style="border-top-right-radius: 25px; border-top-left-radius: 25px">
        Vector Word Representation For Lebanese news</div>

      <div class="card-body">
        <h5 class="card-title">Introducion</h5>
        <p class="card-text">Below are a few tests for the word embeddings of the lebanese news. To see the results you
          have to write you input first and the press "submit". If you want to give your own words, they must be in the
          vocabulary of the word vectors. Our Embeddings are trained using word2vec algorithm with window size 10,
          embedding size of 250 and 1.32GB of lebanese news raw text.</p>
      </div>
    </div>




    <div class="card mb-3 mx-auto  special-card" style="max-width: 80%; border-radius: 25px">
      <div class="card-header  bg-danger text-white"
        style="border-top-right-radius: 25px; border-top-left-radius: 25px">Analogy</div>

      <div class="card-body">
        <h5 class="card-title">Linear relation between word vectors</h5>
        <p class="card-text">Here we see how simple linear operations between word vectors can produce results that make
          sense.</p>

        <div class="container" style="align-items: center; justify-content: center; ">
          <input type="text" class="form-control" placeholder="ماكرون" id="word2" name="word2" />
          <span class="input-group-addon mini">-</span>
          <input type="text" class="form-control " placeholder="فرنسا" id="word1" name="word1" />
          <span class="input-group-addon mini">+</span>
          <input name='word3' type="text" class="form-control" placeholder="اميركا" id="word3" />
          <span class="input-group-addon mini">
            <p>&#x2192;</p>
          </span>

          <textarea class="form-control" rows="10" placeholder="اوباما" disabled style="height:100px;" id="word4"
            name="word4">{{res}}</textarea>
        </div>

        <br>

        <div class="input-group container" style="align-items: center; justify-content: center;">
          <input class="btn btn-success analogyBtn" type="submit" value="submit" id='analogy'
            ><br><br>
        </div>

        <!-- <div class="card " style="border-radius: 25px">
          <div class="card-body">
            Some more examples you can try:<br>
            <a href="#"
              onclick="document.getElementById('word2').value='france'; document.getElementById('word1').value='paris'; document.getElementById('word3').value='berlin';">france
              - paris + berlin</a><br>
            <a href="#"
              onclick="document.getElementById('word2').value='père';document.getElementById('word1').value='homme';document.getElementById('word3').value='femme';">père-
              homme + femme</a><br>
            <a href="#"
              onclick="document.getElementById('word2').value='obama';document.getElementById('word1').value='amérique';document.getElementById('word3').value='france';">obama
              - amérique + france</a><br>
            <a href="#"
              onclick="document.getElementById('word2').value='allumé';document.getElementById('word1').value='éteint';document.getElementById('word3').value='court';">allumé
              - éteint + court</a><br>
            <a href="#"
              onclick="document.getElementById('word2').value='europe';document.getElementById('word1').value='euro';document.getElementById('word3').value='dinar';">europe
              - euro + dinar</a><br>
            <a href="#"
              onclick="document.getElementById('word2').value='allant';document.getElementById('word1').value='aller';document.getElementById('word3').value='nager';">allant
              - aller + nager</a><br>
            <a href="#"
              onclick="document.getElementById('word2').value='eu';document.getElementById('word1').value='avoir';document.getElementById('word3').value='boire';">eu
              - avoir + boire</a><br>
            <a href="#"
              onclick="document.getElementById('word2').value='banane';document.getElementById('word1').value='bananes';document.getElementById('word3').value='couleurs';">banane
              - bananes + couleurs</a><br>
            <a href="#"
              onclick="document.getElementById('word2').value='allemagne';document.getElementById('word1').value='allemand';document.getElementById('word3').value='francais';">allemagne
              - allemand + francais</a><br>
            <a href="#"
              onclick="document.getElementById('word2').value='faisais';document.getElementById('word1').value='faire';document.getElementById('word3').value='suivre';">faisais
              - faire + suivre</a>
          </div>
        </div> -->

      </div>
    </div>


    <div class="card mb-3 mx-auto special-card" style="max-width: 80%; border-radius: 25px">
      <div class="card-header  bg-danger text-white"
        style="border-top-right-radius: 25px; border-top-left-radius: 25px">Similarity Score</div>

      <div class="card-body">
        <h5 class="card-title">Words cosine similarity in vector space</h5>
        <p class="card-text">The result shows how much the two input words are similar.</p>

        <div class="container" style="align-items: center; justify-content: center;">
          <input type="text" class="form-control" placeholder="بيروت" id="sim1" name="sim1" style="max-width: 20rem;" />
          <span class="input-group-addon">
            <p>&#x2194;</p>
          </span>
          <input type="text" class="form-control " placeholder="طرابلس" id="sim2" name="sim2"
            style="max-width: 20rem;" />
          <span class="input-group-addon">
            <p>&#x2192;</p>
          </span>
          <input name='simscore' type="text" class="form-control" placeholder="" id="simscore" disabled
            style="max-width: 20rem;" />
        </div>

        <div class="input-group container" style=" align-items: center; justify-content: center;">
          <input class="btn btn-success simScoreBtn" type="submit" value="submit" id='similarityScore'><br><br>
        </div>

      </div>
    </div>

    <div class="card mb-3 mx-auto  special-card" style="max-width: 80%; border-radius: 25px">
      <div class="card-header text-white bg-danger" style="border-top-right-radius: 25px; border-top-left-radius: 25px">
        Most Similar</div>

      <div class="card-body">
        <h5 class="card-title">Top 10 most similar words</h5>
        <p class="card-text">The result displays the 10 closest word vectors to the input word.</p>

        <div class="container" style="align-items: center; justify-content: center;">
          <input name='wordgoal' type="text" class="form-control" placeholder="بيت_الوسط" id="wordgoal"
            style="max-width: 20rem;" />
          <span class="input-group-addon">
            <p>&#x2192;</p>
          </span>
          <textarea class="span6 form-control" rows="10" placeholder="" disabled style="height:100px;max-width: 20rem;"
            id="simwords" name="simwords"></textarea>
        </div>

        <div class="input-group container" style="align-items: center; justify-content: center;">
          <input class="btn btn-success simWordsBtn" type="submit" value="submit" id='similarityWords'>
            <!-- style="position: absolute; right: 4%;"  didplay:flex> -->
            <br><br>
        </div>

      </div>
    </div>

    {% endblock %}

  </div>
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='querie.js') }}"></script>
</body>

</html>